.auth-modal {
    min-height: 300px;
    min-width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-modal h1 {
    text-align: center;
}

.auth-modal .logo-wrapper {
    height: 80px;
    width: 140px;
}

.auth-modal .logo-wrapper img {
    height: 100%;
    width: 100%;
}

.auth-modal .auth-sign-in {
    padding: 30px 20px;
}