.company-info .company-info-form .main-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 30px;
}

.company-info .company-info-form form {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 20px 0;
}

.company-info .company-info-form {
    display: flex;
    flex-direction: column;
}

.company-info .label-input-wrapper {
    width: 420px;
    margin: 10px 20px;
}

.company-info .button-wrapper {
    padding-left: 5vw;
    padding-right: auto;
    width: 250px;
}
