button {
    margin: 10px 0px;
    padding: 10px 20px;
    width: 100%;
    background-color: var(--site-color);
    color: var(--primary-color);
    border-radius: 8px;
    cursor: pointer;
    border: 0;
    outline: 0;
}

button img#loader {
    height: 15px;
    width: auto;
}
