#toast-container-main {
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 9;
    display: flex;
    flex-direction: column;
    width: 250px;
    z-index: 99;
}

#toast-container-main > div {
    color: white;
    width: 100%;
    margin-bottom: 10px;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
    animation: slide-in 0.2s;
    transition: all 0.3s ease;
    border-radius: 8px;
}

.toast-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@keyframes slide-in {
    from {
        transform: translateX(30px);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

.toast-header button {
    background: none;
    border: none;
    color: #ffffff;
    font-weight: 900;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    padding: 4px 8px;
}

.toast-header button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.success {
    background-color: green;
}

.error {
    background-color: red;
}

.info {
    background-color: lightblue;
}

.warning {
    background-color: yellow;
}
