nav {
    width: 100%;
    /* background-color: #333; */
    /* color: black; */
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    max-height: 85px;
}

nav a {
    background-color: transparent;
}

.logo {
    /* margin-top: 8px; */
    width: 150px;
    max-height: 80px;
    background-color: transparent;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
    cursor: pointer;
}

.dark-nav {
    background-color: var(--site-color);
    color: var(--primary-color);
    transition: 0.5s;
}

.menu-icon {
    display: none;
}

@media (max-width: 1200px) {
    .logo {
        width: 140px;
    }

    nav ul li {
        margin: 10px 15px;
    }
}

@media (max-width: 1000px) {
    nav {
        padding: 15px 0;
    }

    nav ul {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: var(--site-color);
        color: var(--primary-color);
        z-index: -1;
        width: 250px;
        padding: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        /* Center vertically */
        align-items: center;
        /* Center horizontally */
        transition: 0.5s;
    }

    nav ul li {
        margin: 25px 0;
        /* Adjust margin for spacing */
    }

    .menu-icon {
        display: block;
        height: 30px;
        cursor: pointer;
    }

    .hide-mobile-menu {
        right: -250px;
    }
}
