.admin-testimonial-page .button-wrapper {
    width: 140px;
    right: 10px;
    top: -5px;
}

.admin-testimonial-page .button-wrapper {
    width: 140px;
    margin: 0px 10px;
    /* position: absolute;
    right: 10px;
    top: -5px; */
}
