.modal-buttons {
    display: flex;
    justify-content: space-between;
}

.modal-buttons button {
    cursor: pointer;
    border-radius: 6px;
}

.modal-buttons .confirm-button {
    border: 0;
    outline: 0;
    padding: 10px;
    background-color: var(--site-color);
    color: white;
}

.modal-buttons .cancel-button {
    padding: 10px;
    background-color: red;
    color: white;
    border: 0;
    outline: 0;
}

.confirmation-modal {
    padding: 10px 50px;
}

.confirmation-modal h2 {
    margin-bottom: 1rem;
}

.confirmation-modal p {
    margin-bottom: 0.8rem;
}
