#unique-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffb6c1;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
}

#unique-navbar p {
    color: white;
}

#unique-navbar .navbar-logo img {
    height: 40px;
}

#unique-navbar .navbar-links {
    display: flex;
    align-items: center;
    /* justify-content: ; */
}

#unique-navbar .navbar-links li {
    color: white;
    text-decoration: none;
    margin-left: 35px;
    font-size: 16px;
    list-style: none;
}

#unique-navbar .navbar-links li:hover {
    color: var(--site-color);
}
